@keyframes scale{
	0%, 100%{transform: scale(1);}
	50%{transform: scale(1.5);}
}

body{
	 background-image:  url('../resources/background.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover; 
    background-repeat: no-repeat;  
    height: 100%;
    width: 100%;    
}
#quote{
	color:white;
}
#generate, #twitter{
	display: block;
	background-color: transparent;
	color: white;
	border: 5px white solid;
	border-radius: 25px;
	margin: 5% auto 0 auto;
	width: 300px;
	animation: scale 2s infinite linear;
	height: 50px;
	font-size: 1.2em;
}

#center{
	margin: 20% auto 15% auto;
}